*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
@font-face{
    font-family: "MyIcon";
    src: url("../font/glyphicons-halflings-regular.woff2")
}
body{
    position: relative;
    text-align: center;
    background-image: url("../image/bg.jpg")
}
header{
    background-color: black;
    width: 100%;
    height: 50px;
}
.container{
    position: relative;
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.title{
    display: inline-block;
    float: left;
    line-height: 50px;
    color: #eeeeee;
    margin: 0 15px;
}
.menu{
    float: left;
    height: 100%;
    /* background-color: blue; */
}
.menu>li{
    color: #eeeeee;
    line-height: 50px;
    float: left;
    font-size: 14px;
    display: inline-block;
    width: 58px;
}
.menu>li>a{
    color: #eeeeee;
}

.search>input{
    display:inline-block;
    position: absolute;
    height: 22px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
    top: 50%;
    margin-top:-17px;
    right: 60px;
}
.search>button{
    display: inline-block;
    position: absolute;
    width: 54px;
    height: 34px;
    top:50%;
    margin-top: -17px;
    border-radius: 8px;
    color: #555555;
    outline: none;
    padding: 5px 10px;
    right: 0;
}
.content{
    width: 1170px;
    position: relative;
    margin: 30px 0px auto;
    display: inline-block;
}
.content_left{
    width: 66%;
    float: left;
    padding-right:15px; 
    box-sizing: border-box;
}
.content_right{
    float: left;
    width: 34%;
    padding-left: 15px;
    box-sizing: border-box;

}
.right_module{
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    background-color: #1f1f1f;
    color: white;
    border-radius: 10px;
    text-align: left;
    padding:0px 15px 25px 15px;
    margin-bottom: 20px;
}
.right_module>div{
    font-size: 14px;
    padding: 15px 5px 15px 0px;
    color:dodgerblue;
}
.right_module>a{
    font-size: 14px;
    color: dodgerblue;
    margin-right: 5px;
}
.right_module>ul>li{
    list-style: none;
    color:white;
    padding: 8px 0px;
    border-bottom:1px solid #292929; 
}
.right_module>ul>li>a{
    color: dodgerblue;
    font-size: 14px;
}
.right_module>ul>li>div{
    padding: 5px 0px;
}
.right_module>ul>li>div>span{
    color: white;
    font-size: 14px;
}
.right_module>ul>li>p{
    font-size: 14px;
    color: #777777;
}
.pull_right{
    position: absolute;
    right: 15px;
}
.right_module>span{
    display:inline-block;
    width: 49%;
    height: 30px;
    margin-bottom: 10px;
}
.right_module>span>a{
    color: white;
    font-size: 14px;
    line-height: 30px;
}
footer{
    width: 100%;
    height: 60px;
    background-color: #191818;
    padding: 20px 0;
    /* box-sizing: border-box; */
    text-align: center
}
footer>ul{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}
footer>ul>li{
    display: inline-block;
    color: #a2a2a2;
    float: left;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
}
footer>p{
    color: #a2a2a2;
    margin-top: 10px;
}
.page_tool{
    /* margin-top: 20px; */
    display: inline-block;
}
.page_tool>ul>li{
    width: 40px;
    height: 30px;
    line-height: 30px;
    background: white;
    text-align: center;
    list-style: none;
    float: left;
    border: 1px solid black;
    cursor: pointer;
}
.page_tool>ul>li:hover{
    background: gray;
}
.now_page{
    background: #333 !important;
    color: #fff !important;
}
