.blog{
    width: 96%;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 3px 4px 3px #888888;
    text-align: left;
    background: white;
}
.blog_title{
    font-size: 24px;
    font-weight: 600;
}
.blog_msg{
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.blog_content{
    padding: 0px 10px 20px 10px;
}
.blog_comment{
    background-color: #f5f5f5;
    margin-top: 20px;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 4px 3px #888888
}
.blog_comment input{
    width: 300px;
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 10px 0px;
    font-size: 14px;
    padding-left:5px; 
}
.blog_comment textarea{
    width: 90%;
    height: 100px;
    font-size: 14px;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 5px;
}
.blog_comment button{
    width: 100px;
    height: 30px;
    padding: 2px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    margin: 10px 0px;
}
.capt_code{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}